.text-orange {
  color: #e07a1c !important;
}

.btn-orange,
.btn-orange:focus {
  background-color: #e07a1c !important;
  border-color: #e07a1c !important;
  color: #fff !important;
}
.btn-orange:hover {
  background-color: #c36b1e !important;
  border-color: #c36b1e !important;
  color: #fff !important;
}

.btn-outline-orange {
  color: #e07a1c !important;
  border-color: #e07a1c !important;
  background-color: #fff !important;
}
.btn-outline-orange:hover,
.btn-outline-orange.active,
.btn-outline-orange:focus {
  background-color: #e07a1c !important;
  color: #fff !important;
  border-color: #e07a1c !important;
}